<div class="user-selector">
    <div>
        <label for="userSearch">Search User:</label>
        <input id="userSearch" type="text" [formControl]="userSearchControl" placeholder="Type to search user..." />
    </div>
</div>

<div class="view-selector">
    <button type="button" (click)="changeToResolveComplaint(null)">Resolve Complaint</button>
    <button type="button" (click)="changeToViewComplaints()">View Complaints</button>
</div>

<div class="complaint-registration" *ngIf="viewSelector === 'resolve'">
    <h2>Resolve Complaint</h2>
    <form [formGroup]="complaintResolveForm" (ngSubmit)="submitResolvedComplaint()">
        
        <div class="unchangable-data">
            <div class="sub-class-holder">
                <label for="complaintId">Complaint ID:</label><br>
                <input id="complaintId" formControlName="id" />
            </div>
            
    
            <div class="sub-class-holder">
                <label for="userId">User Id:</label><br>
                <input id="userId" formControlName="userId" readonly />
            </div>
    
            <div class="sub-class-holder">
                <label for="category">Category:</label><br>
                <input id="category" formControlName="category" readonly />
            </div>
        </div>
        
        <div class="class-holder">
            <label for="message">Message:</label>
            <textarea appTextAreaResize id="message" formControlName="message" readonly></textarea>
        </div>

        <div class="class-holder">
            <label for="status">Status:</label><br>
            <select formControlName="status">Change Status
                <option value="PENDING">Pending</option>
                <option value="RESOLVED">Resolved</option>
            </select>
        </div>

        <div class="class-holder">
            <label for="adminMessage">Admin Response:</label>
            <textarea appTextAreaResize id="adminMessage" formControlName="adminMessage" required></textarea>
        </div>

        <div class="button-class-holder">
            <button type="submit">Submit</button>
        </div>
        
    </form>
</div>


<div>
    <div *ngIf="complaints && complaints.length > 0 && viewSelector === 'view'" class="complaints-container">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Message</th>
                    <th>Admin Message</th>
                    <th>Registered Timestamp</th>
                    <th>Resolved Timestamp</th>
                </tr>
            </thead>
            <tbody>
                <tr class="clickable-element" *ngFor="let complaint of complaints" (click)="changeToResolveComplaint(complaint)">
                    <td>{{ complaint?.id }}</td>
                    <td>{{ complaint?.category }}</td>
                    <td [ngClass]="resolvedStatus(complaint.status)">
                        {{ complaint?.status }}
                    </td>
    
                    <td>{{ complaint?.message }}</td>
                    <td>{{ complaint?.adminMessage }}</td>
                    <td>{{ formatTime(complaint.registeredTimestamp) }}</td>
                    <td>{{ formatTime(complaint.resolvedTimestamp) }}</td>
                </tr>
            </tbody>
        </table>
    
        <div class="pagination">
            <button (click)="prevPage()" [disabled]="page === 0">Previous</button>
            <button (click)="nextPage()" [disabled]="page === totalPages - 1">Next</button>
        </div>
    </div>
    
</div>

<p *ngIf="complaints?.length === 0" class="no-messages">No complaints found.</p>
