<div class="login-container">
    <h2>Login</h2>
  
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>User ID</label>
        <input type="text" formControlName="userId" placeholder="Enter your User ID" />
        <small class="error-text" *ngIf="loginForm.controls['userId'].errors?.['required']">User ID is required.</small>
        <small class="error-text" *ngIf="loginForm.controls['userId'].errors?.['pattern']">Only letters, numbers, `_`, and `$` allowed (7-20 characters).</small>
        <small class="error-text" *ngIf="loginForm.controls['userId'].errors?.['userIdTaken']">This userID is not available in DB.</small>
      </div>
  
      <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="password" placeholder="Enter your password" />
        <small *ngIf="f['password'].invalid && f['password'].touched" class="error-text">
          Password must be at least 8 characters with 1 letter, 1 number, and 1 special character.
        </small>
      </div>

      <div class="form-group">
        <label>User Type</label>
        <div class="radio-group">
            <input id="user-selector" type="radio" formControlName="userType" value="user" />
            <label for="user-selector">User</label>
            <input id="admin-selector" type="radio" formControlName="userType" value="admin" />
            <label for="admin-selector">Admin</label>
        </div>
        <div *ngIf="loginForm.controls['userType'].touched && loginForm.controls['userType'].invalid" class="error-message">
            <span *ngIf="loginForm.controls['userType'].errors?.['required']">User Type is required.</span>
        </div>
      </div>
      
  
      <button type="submit" class="btn-submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  
    <a routerLink="../register">Create an Account</a>
  </div>
  