<div class="navbar">
    <div class="redirections-holder">
        <a class="logo-container" (click)="loadUserDashboard()"><img src="1384023.png">WhatsApp Utility</a>
        <a class="clickable-element" (click)="loadUserDashboard()">Dashboard</a>
        <a routerLink="usages">Usages</a>
        <a routerLink="apiinterface">API Interface</a>
        <a routerLink="getpoints">Get Points</a>
        <a routerLink="registerwhatsapp">Register Whatsapp</a>
        <a routerLink="complaint">Complaint</a>
    </div>
    <div class="user-id-holder">
        {{ userName }}
        <img src="logout.png" (click)="logout()">
    </div>
</div>

<router-outlet></router-outlet>