<div class="navbar">
    <div class="redirections-holder">
        <a class="logo-container" routerLink="dashboard"><img src="1384023.png">WhatsApp Utility</a>
        <a routerLink="dashboard">Dashboard</a>
        <a routerLink="users">Users</a>
        <a routerLink="complaints">Complaints</a>
        <a routerLink="approvepoints">Approve Points</a>
    </div>
    <div class="user-id-holder">
        {{ userName }}
        <img src="logout.png" (click)="logout()">
    </div>
</div>
<router-outlet></router-outlet>